.wrapper-content {
    width: 100vw;
    height: 70vh;
    transform: skewY(-2deg);
    z-index: -9999;
    position: relative;
    top: -60px;
}

.bg_img{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url('../../assets/images/bg_banking.jpg') no-repeat;
	background-size: cover; 
}