<div class="container custom-height">
  <!-- <div class="row mt-3">
    <div class="col-sm">
      <mat-card>
        <h3>Conta corrente</h3>
        <p>Dados da conta</p>
        <ul>
          <li>Agencia: 089898</li>
          <li>Conta: 09090900-5</li>
        </ul>
        <p>Saldo disponível <b>R$ {{saldoCliente}}</b></p>
        <p class="text-center"><b>Adicionar valor a conta</b></p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Cartão de crédito</h3>
        <p>Consulte as ofertas</p>
        <ul>
          <li>Limte <b>R$ {{limeteCliente}}</b></li>
          <li>Saldo parcial <b>R$ {{saldoParcial}}</b></li>
          <li>Valor parcela: <b>R$ {{valorParcela}}</b></li>
        </ul>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Investimentos</h3>
        <h5>Saldo bruto</h5>
        <i class="material-icons logo-investimentos">
          monetization_on
        </i>
        <h4 class="text-center"><b>R$ {{saldoBruto}}</b></h4>
        <p class="text-center"><b>Investir</b></p>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm">
      <mat-card>
        <h3>Emprestimos</h3>
        <p class="text-center mt-5">Ainda não está disponível emprestimos pra você solite no link abaixo</p>
        <p class="text-center">Solicitar emprestimo</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Poupança</h3>
        <i class="material-icons poupanca-logo">
          redeem
        </i>
        <h4 class="text-center"><b>R$ {{saldoPoupanca}}</b></h4>
        <p class="text-center">Guardar dinheiro</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Contas</h3>
        <div class="row">
          <div class="col-sm">
            Transferências
          </div>
          <div class="col-sm">
            Cartões
          </div>
          <div class="col-sm">
            Pagamentos
          </div>
          <div class="col-sm">
            Utilidades
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="mt-3"></div> -->
  <h1>Bem vindo {{nameCliente}}</h1>
</div>
